

    <style> 
    .container {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.post {
  padding-left: 10%;
  padding-right: 10%;
  border-style: solid;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cover-image {
  /* The image used */
  /*background-image: url("../assets/sample.jpeg");*/
    backgroundImage: 'url(../assets/sample.jpeg)';
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    
    </style>
  <div class="container">
    <!--<div class="post" v-for="blog in blogs" :key="blog.id"></div>-->
    <div class="cover-image" v-bind:style="{ 'backgroundImage': 'url(~@/assets/sample.jpeg)'}"></div>
 
    <div class="post">
        <div class="cover-image" v-bind:style="{ 'backgroundImage': 'url(~@/assets/sample.jpeg)'}"></div>
        <img src="~@/assets/sample.jpeg" alt="">
        <div> 
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
      </div>
<div class="cover-image" >
        </div>
    </div>

    <div class="post">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, vel.
      Eaque amet tempore ullam nulla magnam unde porro eum eius architecto
      consectetur suscipit veniam hic nobis quos consequatur, dignissimos
      nesciunt.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam modi
      distinctio qui eligendi nesciunt est ad, nisi dolores aspernatur ex
      excepturi laboriosam cumque id iste facere saepe adipisci. Sunt, ab.

    </div>
  </div>